* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: url('./images/banner/banner1.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* navbar */

nav {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 40px;
    color: orange;
}

nav ul li {
    display: inline-block;
    margin-left: 75px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: gray;
}

nav ul li a:hover {
    color: orange;
}

/* header content */
.header-content {
    width: 400px;
    margin-left: 150px;
    margin-top: 50px;
}

.header-content h1 {
    font-size: 90px;
    margin-bottom: 40px;
}

.header-content p {
    line-height: 30px;
    margin-bottom: 30px
}

.header-content h1 {
    font-size: 38px
}

.btn {
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    border: none;
    height: 62px;
    border-radius: 5px;
    padding: 17px 33px;
    color: white;
}

/*failures style */
.failures {
    display: flex;
    justify-content: center;
    align-items: center;

}

.failures img {
    width: 85%;
}

.failures-title {
    width: 320px;
}

.failures-title h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.failures-title p {
    margin-bottom: 20px;
    color: gray;
    line-height: 28px;
}

.failures ul {
    margin-left: 24px;
    color: gray;
    line-height: 33px;
}

/* my plan style */
.my-plan {
    margin-top: 70px;
    text-align: center;
}

.plan-card {
    margin-top: 30px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* work area style */
.work {
    margin-top: 70px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 237, 209);
}

.work-content {
    width: 500px;
}

.work-content h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.work-content p {
    color: gray;
}

.work-content ul {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 25px;
    color: gray;
    list-style: square;
}

/* call now area style */
.call-cover {
    background-image: url('.//images//gradient2.png'), url('./images//watch.png');
    background-position: bottom left, left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 240px;

}

.call-content {
    padding-top: 50px;
    width: 300px;
    margin-left: 300px;
}

.call-content h1 {
    color: white;
}

.call-content button {
    width: 150px;
    margin-top: 30px;
    font-size: 18px;
    color: black;
    background-color: white;
}

/* footer style */

.footer {
    margin-top: 160px;
    background-color: black;
    color: white;
    padding: 30px;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.footer-left {
    width: 450px;
    line-height: 30px;
}

.social {
    margin-top: 30px;
}

.footer-right input {
    padding: 22px 60px;
    color: white;
    border-radius: 10px;
    background: none;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-right button {
    width: 150px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    background-color: white;
}